body,ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6,input,textarea,hr{
    margin:0;
    padding:0;
}
body{
    background-color: #f2f2f2;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
html{
    font-size:23.4375px;
}
html,body{
    height: 100%;
}
#header{
    height:3.84rem;
}
#sbds h2{
    width: 100%;
    height: 1.92rem;
    font-size: 0.72rem;
    font-weight: 500;
    color: #85cf22;
    text-align: center;
    line-height: 1.92rem;
}
#sbds img{
    width: 0.71rem;
    height: 0.71rem;
    margin: 0 0.2rem;
}
#sbds .other{
    display: flex;
    font-size: 0.512rem;
    background-color: #fff;
    color:#999999 ;
}
#sbds p{
    padding:0 0 0.45rem 0.45rem;
}
#sbds li{
    width: 49.8%;
    border-right: 0.03rem solid #eeeeee;
    border-bottom: 0.03rem solid #eeeeee;
}
#sbds .small{
    font-size: 0.64rem;
    color: #333333;
}
#sbds .titlea{
    float: right;
    padding-right:0.45rem ;
    width: 2.56rem;
    height: 2.56rem;
    margin-bottom:0.45rem ;
}
#sbds .other1{
    display: flex;
    flex-wrap:wrap ;
    text-align: center;
}
#sbds .other1 img{
    padding-top: 0.53rem;
}
#sbds .pink{
    font-size: 0.64rem;
    color: #e40077;
}
#sbds .blac{
    font-size: 0.512rem;
    color:black ;
    padding-bottom: 0.53rem;
}
#sbds .pho{
    width: 5.97rem;
    height: 4.90rem;
}
#sbds .other2 div{
    float: left;
    padding:0.96rem 0 1.13rem 0;
}
#sbds .other2 img{
    width: 1.92rem;
    height: 1.92rem;
    margin: 0.85rem 0 0 0.53rem;
}
#sbds #how{
    width: 100%;
    text-align: center;
    background-color: #fff;
    font-size: 0.72rem;
    line-height: 1.92rem;
}
#sbds #txt{
    text-align: center;
}
#sbds .big{
    display: block;
    width: 3.84rem;
    height: 3.84rem;
    margin: 0.64rem auto 0;
}
#sbds .tit{
    width: 1.92rem;
    height: 1.92rem;
    margin: 0.64rem 0.53rem 0 0;
}
#sbds #trouble{
    width: 100%;
    height: 100%;
}
#sbds #trouble li{
    width: 100%;
    height: 50%;
}
#sbds #trouble div{
    float: left;
    padding: 0.5rem 0 0 0.42rem;
}
#sbds .other5{
    display: flex;
    flex-wrap: wrap;
}
#sbds .other5 div{
    float: left;
    padding:0.96rem 0 1.13rem 0;
}
#sbds .other5 img{
    float: right;
    width: 1.92rem;
    height: 1.92rem;
    margin: 0.95rem 0.53rem 0.45rem 0;
    border-radius: 50%;
}
#sbds .other6{
    display: flex;
    flex-wrap: wrap;
}
#sbds .other6 li{
    width: 33.13%;
    text-align: center;
}
#sbds .other6 img{
    display: block;
    width: 3.84rem;
    height: 3.84rem;
    margin: 0.53rem auto 0;
}
[v-cloak]{
    display: none;
}
.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    margin: 0 auto;
    opacity: 0.7;
}
.swiper-pagination-bullet{
    width: 0.6rem;
    height: 0.6rem;
    background-color:#ffffff ;
}
.swiper-pagination-bullet-active{
    width: 0.6rem;
    height: 0.6rem;
    background-color:#ffffff ;
}
:root {
--swiper-theme-color: #ffffff;
} 
.swiper1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}