body,ul,ol,dl,dd,p,h1,h2,h3,h4,h5,h6,input,textarea,hr{
    margin:0;
    padding:0;
}
body{
    background-color: #f2f2f2;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
html{
    font-size:23.4375px;
}
html,body{
    height: 100%;
}
#header{
    height:3.84rem;
}
#sbd h2{
    position: relative;
    width: 100%;
    height: 1.7rem;
    font-size: 0.72rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.7rem;
}
#sbd .full img{
    width: 100%;
    height: 100%;
}
#sbd .grya1{
    width:50%;
}
#sbd .other4 li{
    width: 50%;
}
#sbd span{
    position: absolute;
    display: block;
    top: 0rem;
    left: 1rem;
}
#sbd .other{
    display: flex;
    font-size: 0.88rem;
    background-color: #fff;
}
#sbd .other1{
    display: flex;
    flex-wrap:wrap ;
}
#sbd .other1 li{
    width: 50%;
    height: 50%;
}
#sbd .name{
    font-size: 0.4rem;
    color: gray;
}
#sbd .pink{
    font-size: 0.7rem;
    color: #e40077;
}
#sbd .blac{
    font-size: 0.7rem;
    color:black ;
    padding-top: 0.33rem;
}
#sbd .other1 img{
    width: 3.413rem;
    height:3.413rem;
    padding-top: 0.53rem;
    float:right;
}
#sbd .other1 p{
    padding-left: 0.3rem;
}
#sbd .pho{
    width: 5.97rem;
    height: 4.90rem;
}
#sbd .other2 img{
    width: 100%;
    height: 100%;
}
#sbd .other2 li{
    width: 50%;
    height: 100%;
}
#sbd .other3 p{
    padding-left: 0.4rem;
}
#sbd .other3 .big{
    font-size: 0.7rem;
    line-height: 0.8rem;
}
#sbd .other3 .small{
    font-size: 0.5rem;
    line-height: 0.6rem;
    color: gray;
}
#sbd .other3 li{
    width: 50%;
    height: 100%;
}
#sbd .titlea{
    float: right;
    padding-right:0.45rem ;
    width: 3.4rem;
    height: 3.4rem;
    margin-bottom:0.45rem ;
}
#sbd #trouble{
    width: 100%;
    height: 100%;
}
#sbd #trouble li{
    width: 100%;
    height: 50%;
}
#sbd .other5 img{
    display: block;
    float: right;
    width: 5.54rem;
    height: 5.54rem;
}
#sbd .other5 li{
    width: 50%;
    height: 100%;
}
[v-cloak]{
    display: none;
}
.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    margin: 0 auto;
    opacity: 0.7;
}
.swiper-pagination-bullet{
    width: 0.6rem;
    height: 0.6rem;
    background-color:#ffffff ;
}
.swiper-pagination-bullet-active{
    width: 0.6rem;
    height: 0.6rem;
    background-color:#ffffff ;
}
:root {
--swiper-theme-color: #ffffff;
} 
.swiper1{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}